.theme--{$theme}
    .border
        &, &-bottom, &-left, &-right, &-top, &-end, &-start
            border-color $border-color !important

    // Chrome, Firefox, Opera, Safari 10.1+
    ::placeholder
        {$placeholder}

    // Internet Explorer 10-11
    :-ms-input-placeholder
        {$placeholder}

    // Microsoft Edge
    ::-ms-input-placeholder
        {$placeholder}
